#include "/home/anon/.config/colors/eqie6"

! URxvt
URxvt.cursorBlink:      1
URxvt.cursorUnderline:  1
URxvt.scrollBar:        false
URxvt.font:             xft:Inconsolata\\-g for Powerline:style:g:pixelsize=12
URxvt.letterSpace:      -1

! disable Perl extensions
URxvt.perl-ext:
URxvt.perl-ext-common:
